@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   background-color: #fff;
}


.verify-input {
  letter-spacing: 2rem;
}

.verify-input::placeholder {
  letter-spacing: 2rem;
  text-align: center;
}
